<div class="left-sub-bar col-xs-2">
    <div class="heading" translate="txtStatementMyAccount">
    My Account</div>
    <myacc-accordion close-others="false">
        <myacc-accordion-group heading="txtStatementRoot" is-open="openStatus['statement']" is-disabled="false">
            <myacc-accordion-group heading="txtStatementBetHistory" is-open="openStatus['betting-history']">
                <myacc-accordion-group heading="navLottoRoot" is-open="openStatus['lotto']" ng-if="(availableProds | filter : { name : 'lotto' }).length > 0">
                    <li><a ng-class="{'expanded': isExpanded('lotto/settled-bets')}" ng-href="/{{::global.lan}}/my-account/statement/betting-history/lotto/settled-bets" translate="txtStatementBetHistorySettledBets">Unsettled Bets</a></li>
                    <li><a ng-class="{'expanded': isExpanded('lotto/unsettled-bets')}" ng-href="/{{::global.lan}}/my-account/statement/betting-history/lotto/unsettled-bets" translate="txtStatementBetHistoryUnsettledBets">Settled Bets</a></li>
                </myacc-accordion-group>
             </myacc-accordion-group>
            <myacc-accordion-group ng-if="client.sessionD.mberType == 1" heading="txtMember" is-open="openStatus['member-manage']">
                <li><a ng-class="{'expanded': openStatus['agent']}" ng-href="/{{::global.lan}}/my-account/statement/member-manage/agent" translate="navStatementAgent">agent</a></li>
                <li><a ng-class="{'expanded': openStatus['member']}" ng-href="/{{::global.lan}}/my-account/statement/member-manage/member" translate="navStatementMember">member</a></li>
            </myacc-accordion-group>

             <li><a ng-class="{'expanded': openStatus['summary']}" ng-href="/{{::global.lan}}/my-account/statement/transaction-history/summary" translate="txtStatementSummary">Summary</a></li>
        </myacc-accordion-group>
    </myacc-accordion>
</div>
<b></b>
