/* line 7, ../../../../Source/sass/common-Keno/theme/_counter.scss */
body {
  font-family: Arial,Tahoma,Verdana,'Microsoft JhengHei', 'Microsoft YaHei', 'Microsoft JhengHei','Helvetica Neue', Helvetica,tahoma, sans-serif;
}

/* line 10, ../../../../Source/sass/common-Keno/theme/_counter.scss */
body.zh-tw {
  font-family: "Microsoft JhengHei";
}

/* line 11, ../../../../Source/sass/common-Keno/theme/_counter.scss */
body.zh-cn {
  font-family: 'Microsoft YaHei';
}

/* line 16, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
html, body {
  height: 100%;
}
/* line 37, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.bb {
  color: #cb3035;
}

/* line 38, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.sb {
  color: #1870c2;
}

/* line 39, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.ob {
  color: #cb3035;
}

/* line 40, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.eb {
  color: #1870c2;
}

/* line 41, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.osb {
  color: #cb3035;
}

/* line 42, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.esb {
  color: #1870c2;
}

/* line 43, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.ub {
  color: #1870c2;
}

/* line 44, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.db {
  color: #cb3035;
}

/* line 45, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.tb {
  color: #007236;
}

/* line 46, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.gb {
  color: #c27e12;
}

/* line 47, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.wob {
  color: #007236;
}

/* line 48, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.wab {
  color: #03669a;
}

/* line 49, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.fb {
  color: #e43127;
}

/* line 50, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.eab {
  color: #555555;
}

/* line 51, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.bba {
  background-color: #cb3035;
}

/* line 52, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.sba {
  background-color: #1870c2;
}

/* line 53, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.oba {
  background-color: #cb3035;
}

/* line 54, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.eba {
  background-color: #1870c2;
}

/* line 55, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.osba {
  background-color: #cb3035;
}

/* line 56, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.esba {
  background-color: #1870c2;
}

/* line 57, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.uba {
  background-color: #1870c2;
}

/* line 58, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.dba {
  background-color: #cb3035;
}

/* line 59, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.hotba {
  background-color: #cb3035;
}

/* line 60, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.coldba {
  background-color: #1870c2;
}

/* line 61, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.gba {
  background-color: #c27e12;
}

/* line 62, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.woba {
  background-color: #007236;
}

/* line 63, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.waba {
  background-color: #03669a;
}

/* line 64, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.fba {
  background-color: #e43127;
}

/* line 65, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.eaba {
  background-color: #555555;
}

/* line 8, ../../../../Source/sass/common-theme/_color.scss */
.BO-color {
  color: #e43127;
}

/* line 9, ../../../../Source/sass/common-theme/_color.scss */
.SE-color {
  color: #146dd0;
}
/* line 96, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .counter {
  background: #ffffff;
  border-bottom: #b4b4b4 solid 2px;
  border-right: #b4b4b4 solid 2px;
}

/* line 117, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .country {
  background: #333333;
}
/* line 121, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .country b {
  color: #c1c1c1;
}
/* line 161, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .drawResult .drawInfo {
  color: #ffffff;
}
/* line 163, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .drawResult .drawInfo .drawNo {
  background: #7f7f7f;
}
/* line 168, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .drawResult .drawInfo .nextDraw {
  background: #007236;
}
/* line 172, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .drawResult .drawInfo .nextDraw.stop {
  background: #e13122;
}
/* line 491, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.resultBallPanel ul li {
  background: url(../images/bg2.png);
  text-align: center;
}
/* line 494, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.resultBallPanel ul li.num-5 {
  background-image: url(../images/bg2.png);
  background-position: 0px 0px;
}
/* line 498, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.resultBallPanel ul li.num-4 {
  background-image: url(../images/bg2.png);
  background-position: 0px -146px;
}
/* line 502, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.resultBallPanel ul li.num-3 {
  background-image: url(../images/bg2.png);
  background-position: 0px -288px;
}
/* line 506, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.resultBallPanel ul li.num-2 {
  background-image: url(../images/bg2.png);
  background-position: 0px -435px;
}
/* line 510, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.resultBallPanel ul li.num-1 {
  background-image: url(../images/bg2.png);
  background-position: 0px -577px;
}
/* line 515, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.resultBallPanel ul li .result-ball {
  background: #fff;
  color: #4b4b4b;
  background-image: url(../images/ball.png);
  box-shadow: 1px 1px 5px #333;
}
/* line 522, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.resultBallPanel ul li .bs-type {
  color: #fff;
  text-align: center;
}
/* line 526, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.resultBallPanel ul li .eo-type {
  color: #fff;
  text-align: center;
}

/* line 541, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.tableResult table td {
  background: #ffffff;
  border: 1px solid #ccc;
}
/* line 544, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
.tableResult table td .ball {
  color: #4b4b4b;
  background-image: url(../images/ball.png);
}

/* line 836, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .country .country-icon-1 {
  background: url("../images/country_i.png") 0px -10px no-repeat;
  background-size: 98%;
}
/* line 840, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .country .country-icon-2 {
  background: url("../images/country_i.png") 0px -83px no-repeat;
  background-size: 98%;
}
/* line 844, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .country .country-icon-3 {
  background: url("../images/country_i.png") 0px -144px no-repeat;
  background-size: 98%;
}
/* line 848, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .country .country-icon-4 {
  background: url("../images/country_i.png") 0px -211px no-repeat;
  background-size: 98%;
}
/* line 852, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .country .country-icon-5 {
  background: url("../images/country_i.png") 0px -280px no-repeat;
  background-size: 98%;
}
/* line 856, ../../../../Source/sass/common-Lotto/theme/_counter.scss */
#expage .country .country-icon-6 {
  background: url("../images/country_i.png") 0px -344px no-repeat;
  background-size: 98%;
}

/* line 7, ../../../../Source/sass/common-theme/_info.scss */
#expage .counterInfo {
  background-color: #fff;
  -moz-box-shadow: 0px 0px 5px 1px #8a8a8a;
  -webkit-box-shadow: 0px 0px 5px 1px #8a8a8a;
  box-shadow: 0px 0px 5px 1px #8a8a8a;
}